<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>

  <% User.all.each do |a_user| %>
    
    <tr>
      <td>
        <%= a_user.username %>
      </td>

      <td>
          <% if a_user.private == true %>
            Yes
          <% else %>
            No
          <% end %>
      </td>

      <% if session[:user_id] != nil %>
        <td>
          <%# if a request has already been sent to a_user, then put Request sent. Cancel (link to cancel) %>
          <% if @requests_pending.where(:recipient_id => a_user.id).at(0) != nil %>
            Request sent.
          <% else %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">

              <button>
                Follow
              </button>
            </form>
          <% end %>
        </td>
      <% else %>
        <td>
        </td>
      <% end %>

      <td>
        <a href="/users/<%= a_user.username %>">Show details</a>
      </td>
    </tr>

  <% end %>

</table>